@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --RoyalBlue: #017092;
    --White: #FFFFFF;
    --Gainsboro: #b3b8cd;
    --DarkSlateBlue: #292343;
    --DarkSlateGrey: #014e4d;
}

body {
    background-image: url(../img/bg-fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    user-select: none;
    margin: 100px auto;
    border-radius: 7px;
    color: var(--Gainsboro);
    width: 360px;
    border: 2px solid #b3b8cd;
    background: var(--RoyalBlue);
    text-align: center;
    box-shadow: 7px 5px 10px rgba(255, 255, 255, 0.75);
}

.bg-capa {
    background: url(../img/plano-fundo.jpg);
    height: 160px;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.foto-perfil {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 93px 0 0 200px;
    border: 2px solid var(--RoyalBlue);
    padding: 7px;
    background: var(--White);
}

.perfil-nome {
    font-size: 38px;
    color: var(--DarkSlateBlue);
    font-style: italic;
    font-weight: bold;
    margin: 5px 0 0 -125px;
}

.sobre {
    font-size: 20px;
    padding: 5px;
    margin-top: 20px;
    line-height: 30px;
}

button {
    margin: 10px 0 40px 0;
}

.msg-btn, .seguir-btn {
    background: var(--DarkSlateGrey);
    border: 1px solid var(--DarkSlateGrey);
    padding: 10px 25px;
    color: var(--White);
    border-radius: 3px;
    cursor: pointer;
}

.seguir-btn {
    margin-left: 10px;
    background: transparent;
    font-weight: bold;
    color: var(--DarkSlateGrey);
}

.seguir-btn:hover {
    color: var(--White);
    background: var(--DarkSlateGrey);
    transition: 0.5s;
}

.container i {
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.container i:hover {
    color: var(--DarkSlateBlue);
}